body{
  font-family: roboto;
  margin: 0;
  box-sizing: border-box;
}

.first-section{
  background: #1F2937;
  color: #f9faf8;
  height: 90vh;
  padding: 0 24px;
  display:flex;
  flex-direction: column;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  list-style: none;
  gap: 16px;
}
a{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  color: #e5e7eb;
}

.hero{
  display: flex;
  flex: auto;
  align-items: center;
}
.hero-right{
  flex: 1;
  display: flex;
  align-items: center;

}

.hero-img-container{
  flex:1;
  display: flex;
}

.hero-img{
 flex:1; 
 max-width: 100%;
 padding: 24px;
 box-sizing: border-box;
}

.hero-left{
  flex:1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
h1{
  padding: 0;
  margin: 0;
  font-size: 48px;
}
.hero-text{
  color: #e5e7eb
}
p{
  padding:0;
  margin: 0;
  font-size: 18px;
}
.hero-butt{
  display: block;
  background: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  max-width: 80px;
  max-height: 25px;
}

.second-section{
  background: #f9faf8;
  color: #1f2937;
  height: 50vh;
  padding: 0 48px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-2-header{
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 24px;
}

.section-2-content{
  display: flex;
  justify-content: space-around;
  gap: 32px;
  flex-wrap: wrap;
  //padding-top: 16px;
  height: 100%;
  align-content: center;
}

.content-box{
  height: 250px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.img-2-container{
  height: 150px; 
  width: 150px;
  max-width: 100%;
  border: 3px solid #3882f6;
  border-radius: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.info-img{
  flex-shrink: 0;
  min-width:100%;
  min-height: 100%;
}

.third-section{
  background: #e5e7eb;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-container{
  display: flex;
  flex-direction: column;
  padding: 140px;
}
.quote{
  //font: 36px light itatlic #1f2937;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  font-weight: 50;
}
.quote-author{
  font-size: 24px;
  font-weight: 600;
  align-self: end;
}
.fourth-section{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.cta-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.cta-box{
  background: #3882f6;
  color: white;
  height: 150px;
  width: 900px;
  margin: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-text{
  margin-left: 64px;
}

.cta-header{
  font-size: 24px;
}
.cta-small-text{
  font-size: 16px;
}
.cta-butt{
  margin-right: 64px;
  max-width: 90px;
  max-height: 25px;
  border: 2px solid white;
  border-radius: 4px;
  background: #3882f6;
  color: white;
  padding: 4px 16px;
}

.footer{
  height: 50px;
  background: #1F2937;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

